<ez-map
    *ngIf="(pos$ | async) as pos"
    [latitude]="pos.coords.latitude"
    [longitude]="pos.coords.longitude"
    [zoom]="12"
    (mapReady)="onMapReady($event)"
    [gestureHandling]="'greedy'"
    #map
    >
    <ez-marker
        [longitude]="pos.coords.longitude"
        [latitude]="pos.coords.latitude">
        <ez-info-window
            [isOpen]="true"
            [closeOnMapClicked]="false"
            [closeWhenOthersOpened]="false">
            
            <div #infoWindow>
                You are here!
            </div>

        </ez-info-window>

    </ez-marker>

    <ez-marker
        *ngFor="let marker of (markers$ | async)"
        [latitude]="marker.geometry.location.lat()"
        [longitude]="marker.geometry.location.lng()"
        [animation]="'DROP'">

        <ez-info-window>
          <div #infoWindow>
            <h1> {{ marker.name }} </h1>
          </div>
        </ez-info-window>

    </ez-marker>

</ez-map>
